@page "/login"
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@using EvolCep.Shared.Dtos.Auth
@using EvolCep_Frontend.Client.Services
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow border-0">
                <div class="card-header bg-primary text-white text-center py-3">
                    <h4 class="mb-0">EvolCep - Login</h4>
                </div>
                <div class="card-body p-4">
                    <EditForm Model="loginDto" OnValidSubmit="HandleLogin">
                        <DataAnnotationsValidator />

                        @if (!string.IsNullOrEmpty(errorMessage))
                        {
                            <div class="alert alert-danger small">@errorMessage</div>
                        }

                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <InputText @bind-Value="loginDto.Email" class="form-control" placeholder="admin@evolcep.com" />
                            <ValidationMessage For="@(() => loginDto.Email)" class="text-danger small" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Contraseña</label>
                            <InputText @bind-Value="loginDto.Password" type="password" class="form-control" />
                            <ValidationMessage For="@(() => loginDto.Password)" class="text-danger small" />
                        </div>

                        <button type="submit" class="btn btn-primary w-100" disabled="@isProcessing">
                            @if (isProcessing)
                            {
                                <span class="spinner-border spinner-border-sm"></span>
                            }
                            else
                            {

                                <span>Entrar</span>
                            }
                        </button>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private LoginDto loginDto = new();
    private string? errorMessage;
    private bool isProcessing = false;

    private async Task HandleLogin()
    {
        isProcessing = true;
        errorMessage = null;

        var succes = await AuthService.LoginAsync(loginDto);

        if(succes)
        {
            var role = await AuthService.GetUserRoleAsync();

            if(role == "Admin")
            {
                NavigationManager.NavigateTo("admin/dashboard");
            }
            else
            {
                NavigationManager.NavigateTo("customer/dashboard");
            }
        }
        else
        {
            errorMessage = "Correo o contraseña incorrectos";
        }

        isProcessing = false;
    }
}