<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["EvolCep_Frontend.styles.css"]" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <HeadOutlet @rendermode= "InteractiveWebAssembly" />
</head>

<body>
    <CascadingAuthenticationState>
        <Router AppAssembly="typeof(Program).Assembly"
                AdditionalAssemblies="new[] {typeof(EvolCep_Frontend.Client._Imports).Assembly }">
            <Found Context="routeData">
                @*AuthorizeRouteView es el que decide: 
                   ¿Tienes permiso? Te dejo pasar. ¿No estás logueado? Te mando al Login.*@
                <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(EvolCep_Frontend.Client.Layout.MainLayout)">
                    <NotAuthorized>
                        @if (context.User.Identity?.IsAuthenticated != true)
                        {
                            @* Si no está logueado, lo redirigimos automáticamente *@
                            <RedirectToLogin />
                        }
                        else
                        {
                            <div class="container mt-5">
                                <div class="alert alert-warning">
                                    No tienes permisos para ver esta sección.
                                </div>
                            </div>
                        }
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>No encontrado</PageTitle>
                <LayoutView Layout="typeof(EvolCep_Frontend.Client.Layout.MainLayout)">
                    <p role="alert">Lo sentimos, no hay nada en esta dirección.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>
